.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Log{
    text-decoration: none;
    color:#13bfa3;
}
.sign{
  background-color:#13bfa3;
  color: #fff;
  border:none;
  border-radius: 5px;
  padding:8px 15px;
  box-shadow: 0px 2px #909398 ;
}
.sign:hover{
  box-shadow: none ;

}
.slidemain{
  background-image: url('./backgroundImg.png');
}
.Less{
  color: #2d3137;
}
.ontrip{
  color: #13bfa3;
}
.slide2 {
  background-image: url('./backgroundImg.png');
}
.balances{
  background-image: url('./backgroundImg.png');
  background-color: #000000b9;
  background-blend-mode:lighten;
  color:#fff;
}

.slide2-track{
  max-width: 350px;
}

.Split{
  background-image: url('./backgroundImg.png');
  background-color:#027164f7;
  background-blend-mode:lighten;
  color:#fff;
}
.easily{
  background-image: url('./backgroundImg.png');
  background-color:#d5401bd7;
  color:#fff;
  background-blend-mode:lighten;
}
.PRO{
  background-image: url('./backgroundImg.png');
  background-color: rgba(139, 74, 209, 0.91);
  background-blend-mode:lighten;
  color:#fff;
}
.even{
  max-width: 450px;
}
.up{
}
.receipt p{
  font-size: 16px;
  padding:0vh 20vh;
}
.receipt button{
  width: 20vh;
  height: 8vh;
  border-radius: 5px;
  background-color: rgba(145, 100, 193, 0.974);
  background-blend-mode:lighten;
  border-color:white ;
  color: #fff;
  font-size: 16px;
}
.PROImg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: center;
  align-items: center;
  padding-top:18vh ;
}




